body {
    font-family: "Roboto", sans-serif;
  }
  
  h1 {
    color: white;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
    padding-left: 12px;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
    margin: 0;
    padding-left: 12px;
  
    color: white;
    font-size: 14px;
    font-weight: 100;
    line-height: 19px;
    opacity: 0.7;
  }

  footer{
    text-align: right;
    font-size: 12px;
    padding-right: 5px;
  }

  #city-input{
    background-color: transparent;
    color: white;
    font-size: 14px;
    


  }
  #search-city{
    font-size: 14px;
    color: white;
  }
  
    .weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
  
  }
  
  .weather-app {
    padding: 25px;
    border: 1px solid white;
    border-radius: 5px;
    background-image: url("https://images.unsplash.com/photo-1495344517868-8ebaf0a2044a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2753&q=80");
  background-size: cover;
    
  }
  
  .overview {
    margin-bottom: 20px;
  }
  
  .weather-temperature img {
    margin-right: 20px;
    height: 52px;
    width: 52px;
  }
  
  .weather-temperature strong {
    color: white;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
  }
  
  .weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
  }
  
  .weather-temperature .active {
    color: white;
    cursor: default;
  }
  
  .weather-temperature .active:hover {
    text-decoration: none;
  }
  
  .weather-forecast {
    margin-top: 22px;
    text-align: center;
    color: white;
    font-size: 13px;
   
  }
  
  #celsius-link{
    text-decoration: none;
    color: white;
    cursor: default;

  }


  .weather-forcast-date{
    font-size: 19px;
    opacity: 0.5;
    
  }

  .weather-forecast-temperature-min{
    opacity: 0.5;

  }
  .weather-forecast-temperatures{
    font-size: 13px;

  }
